# Ignore compiled Python files
*.pyc

# Ignore log files
*/logs/*

# Ignore cache files
*/.cache/*

# Ignore Eclipse folders
.metadata/*
RemoteSystemsTempFiles/*

# Ignore downloaded FreeRTOS files
FreeRTOS/*
edvs_receiver/Common/*

# Ignore unnecessary IAR project files
*.ewd
*.ewt
*.dep
*/Debug/*
*/BuildLog.log
*/settings/*

# Ignore html files from test run
*.html
*.css

# Ignore tags files
*.tags*

# Temporary exclude of SpyNNaker test code
board_test/spynnaker/*
